<h1>Edit Paper</h1>

<%= form_for @paper do |f| %>

  <% if @paper.errors.any? %>
    <% @paper.errors.full_messages.each do |message| %>
      <%= message %>
	<% end %>
  <% end %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
  </p>
  <p>
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </p>
  <p>
    <% (1..5).each do |i| %>
      <%= f.label "Author #{i}:", for: "paper_author_id_#{i}" %>
	  <%= f.collection_select :author_ids, @authors, :id, :name,
          {selected: @paper.author_ids[i], include_blank: '(none)'},
		  {name: "paper[author_ids][]", id: "paper_author_id_#{i}"} %>
    <% end %>
  </p>
  <p>
    <%= f.submit "Edit Paper" %><br>
  </p>

<% end %>
