<h1>Edit Paper</h1>

<%= form_for @paper do |f| %>

  <% if @paper.errors.any? %>
    <% @paper.errors.full_messages.each do |message| %>
      <%= message %>
	<% end %>
  <% end %>
  
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
  </p>
  <p>
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </p>
  <p>
    <%= f.submit "Edit Paper" %><br>
  </p>

<% end %>
